<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HMTX Table test</title>
  <link href="styles.css" rel="stylesheet"/>
  <script src="https://unpkg.com/htmx.org@1.9.5"
          integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
          crossorigin="anonymous"></script>
  <meta name="htmx-config" content='{"useTemplateFragments":"true"}'>
</head>
<body>

<div>

  <div>
    <span id="total-count"></span>
    <span id="query-count"></span>
    <input type="text" name="q"
           placeholder="Buscar..."
    >
  </div>

  <!--<div hx-get="/dynamic/users-counters"
      hx-trigger="load"
      hx-swap="delete">

  </div>-->

  <table hx-indicator=".htmx-indicator" class="dfl-table">
    <caption>Users</caption>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </thead>
    <tbody>
    <tr hx-get="/dynamic/users" hx-trigger="load" hx-swap="outerHTML">
    </tr>
    </tbody>
  </table>
  <div>
    <img id="first-bars" class="htmx-indicator center img-small-size" src="/assets/bars.svg" alt="spinner">
  </div>

</div>

</body>
</html>